<div id="<%= dom_id pet %>">
  <p>
    <strong>Nombre:</strong>
    <%= pet.nombre %>
  </p>

  <p>
    <strong>Apodo:</strong>
    <%= pet.apodo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= pet.fecha %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= pet.imagen %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= pet.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pet.user_id %>
  </p>

</div>
